body {
    background-color: rgb(25, 2, 9);
    color:rgb(200, 100, 100);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#container {
    margin: auto;
    width: 500px;
    min-height: 200px;
    border: 1px dotted darkgray;
    padding: 10px;
  
    background-color: rgb(2, 2, 9);
}

h1 {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    font-size: 20px;
}

a {
    color:rgb(192, 192, 192);
    text-decoration: none;
}

.listelement{
    margin: 2px;
    padding-bottom: 20px;
}
