#container {
    text-align: center;
}

h1 {
    color:rgb(29, 29, 29);
}

canvas {
    border: 1px dotted rgb(0, 0, 0);
}

body {
    background-color: rgb(94, 60, 60);
}


@media only screen and (max-width: 700px) {
    canvas {
        width: 100%;
        height: 100%;
    }
}