#container {
    text-align: center;
}

h1 {
    color:rgb(29, 29, 29);
}

canvas {
    border: 1px dotted rgb(0, 0, 0);
}

body {
    background-color: rgb(77, 57, 57);
    color:rgb(44, 36, 36);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}